<div class="button-column"
    fxLayout="column">
  <md-input-container>
     <input mdInput placeholder="Search" type="text" mdInput >
  </md-input-container>

  <button md-button>Flat button</button>
  <button md-button>Flat button</button>
  <button md-button>Flat button</button>
  <button md-button>Flat button</button>
  <button md-button>Flat button</button>
  <button md-button>Flat button</button>
  <button md-button>Flat button</button>
  <button md-button>Flat button</button>
  <button md-button>Flat button</button>
  <button md-button>Flat button</button>
  <button md-button>Flat button</button>
  <button md-button>Flat button</button>
  <button md-button>Flat button</button>
  <button md-button>Flat button</button>
  <button md-button>Flat button</button>
  <button md-button>Flat button</button>
  <button md-button>Flat button</button>
  <button md-button>Flat button</button>
  <button md-button>Flat button</button>
  <button md-button>Flat button</button>
  <button md-button>Flat button</button>
  <button md-button>Flat button</button>
  <button md-button>Flat button</button>
  <button md-button>Flat button</button>

</div>
