<div class="repro-ui"
    fxLayout="column">

    <div class="fill-area"
      fxLayout="column"
      fxLayout.xs="column">

    <div class="nav-container"
        fxLayout="row">
      <app-repro-nav-bar class="nav-bar"></app-repro-nav-bar>
    </div>

    <div class="body-container"
      fxLayout="row">
    <div class="col side-nav"
      fxFlex="25%">
      <app-repro-side-nav></app-repro-side-nav>
    </div>

    <div class="col page-content-area"
    fxFlex="75%">
    <app-repro-content></app-repro-content>
    </div>
  </div>

</div>

</div>
