<div class="repro-ui"
    fxLayout="column">

    <div class="fill-area"
      fxLayout="column"
      fxLayout.xs="column">

    <div class="nav-container"
        fxLayout="row">
      <repro-nav-bar class="nav-bar"></repro-nav-bar>
    </div>

    <div class="body-container"
      fxLayout="row">
      <div class="col side-nav"
        fxFlex="25%">
        <repro-side-nav></repro-side-nav>
      </div>

      <div class="col page-content-area"
      fxFlex="75%">
      <repro-content></repro-content>
      </div>
    </div>

  </div>

</div>
